<!DOCTYPE html>


  <header class="jamon">
    <h1 id="guidotext"><i>Guido Castillo Muebles</i></h1>
   <i>Trabajando para el éxito!</i>
  </header>

  <main class="ponele">   
 

<div id="carouselExampleIndicators" class="carousel slide ">
  <div class="carousel-indicators ">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner fotocarrusel">
    <div class="carousel-item active carrusel fotocarrusel">
      <img src="https://th.bing.com/th/id/R.c0d5078049015eb616d807fff84f22ea?rik=RqDOAfXQ%2f6bXPg&riu=http%3a%2f%2fassets1.ignimgs.com%2f2017%2f09%2f12%2ffortnite-1280-1505174977571_1280w.jpg&ehk=bq5eCqkj5O7WSM1mFAPPQ3nRcQHxAEa8kTVbMgbwsYY%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item fotocarrusel">
      <img src="https://tse3.mm.bing.net/th/id/OIP.nCWG7R9EO7aenk-yLB-7gAHaEK?cb=ucfimgc2&w=1600&h=900&rs=1&pid=ImgDetMain&o=7&rm=3" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item fotocarrusel">
      <img src="https://tse1.mm.bing.net/th/id/OIP.BYz8JHsVkxbiykIksV0HigHaEK?cb=ucfimgc2&w=1920&h=1080&rs=1&pid=ImgDetMain&o=7&rm=3" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  </main>



