<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-lg .navbar navbar-light  fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">
      <img id="fotologo" src="/assets/guido.png" alt="Logo" class="logo-nav">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active momo-trust-display-regular" routerLink="/muebles" routerLinkActive="active">
            <i></i> Muebles
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active momo-trust-display-regular" routerLink="/ofertas" routerLinkActive="active">
            <i></i> Ofertas
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active momo-trust-display-regular" routerLink="/novedades" routerLinkActive="active">
            Novedades
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active momo-trust-display-regular" routerLink="/contacto" routerLinkActive="active">
            Contacto
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active momo-trust-display-regular" routerLink="/quiensomo" routerLinkActive="active">
            <i></i> quienes somos?
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link active momo-trust-display-regular" routerLink="/favoritos" routerLinkActive="active">
            <img class="icono" src="assets/favorito.png" alt="">
          </a>
        </li>



        <img id="usuario" class="icono" matButton [matMenuTriggerFor]="menu" src="assets/usuario.png" alt="">
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <li class="nav-item">
              <a class="nav-link active momo-trust-display-regular ajustesletras" routerLink="/inicio-sesion"
                routerLinkActive="active">
                <i></i> Iniciar sesion
              </a>
            </li>
          </button>
          <button mat-menu-item>
            <li class="nav-item">
              <a class="nav-link active momo-trust-display-regular ajustesletras" routerLink="/registro"
                routerLinkActive="active">
                <i></i> Registrarse
              </a>
            </li>
          </button>
          <button mat-menu-item>Item 3</button>
          <button mat-menu-item>Item 4</button>
        </mat-menu>


        <li class="nav-item">
          <a class="nav-link momo-trust-display-regular" routerLink='/carrito'>
            <img class="icono" src="assets/carrito.png" alt="">
            <span *ngIf="cantidadProductos>0">
              {{cantidadProductos}}
            </span>
          </a>
        </li>




      </ul>
    </div>
  </div>
  <label for="toggle" id="label_toggle"><i class="fa-solid fa-moon"></i></label>
  <input type="checkbox" id="toggle" (click)="cambiarFondo()">
</nav>

<br>

<!-- Asegúrate de incluir Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">