.navbar {
  background-color: #8d845e;
  padding: 1rem 2rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border-bottom: 2px solid #1d065e;
  display: flex;
  justify-content: center !important;  /* Centra TODO */
  align-items: center;

}

#navbarSupportedContent {
  display: flex !important;
  justify-content: center !important;
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* separa los items */
  width: 100%;
}

#usuario {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.navbar-nav img,
.navbar-nav li {
  display: flex;
  align-items: center;
}


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(145deg, #0000b1, #2e2e3e);
  color: #fefefe;
}

header {
  padding: 2rem;
  text-align: center;
  background: #111122;
}

header h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
  color: #ccc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
}

.icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #f4c542;
}

.section {
  max-width: 600px;
  background: #282840;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(209, 3, 3, 0.3);
  margin-bottom: 2rem;
}

.section h2 {
  font-family: 'DM Serif Display', serif;
  color: #f4c542;
  margin-bottom: 1rem;
}

.section p {
  line-height: 1.6;
  color: #ddd;
}

footer {
  text-align: center;
  padding: 2rem;
  color: #b61010;
  background: #111122;
}
.music-button {
  background: linear-gradient(135deg, #6e44ff, #b892ff);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(110, 68, 255, 0.4);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.music-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(110, 68, 255, 0.6);
}

.music-button:active {
  transform: scale(0.97);
}

#fotologo{
  width: 60px;
}


.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgb(254, 255, 230);
}

.icono{
 width: 40px;
  height: 40px;
}





.ajustesletras{
  color: black;
  font-size: 15px;
}

